.navbar-header
  a.navbar-brand.js-link(href=routes.rootPath()) Backbone-base
  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  #user_region.visible-xs-block.pull-right
.collapse.navbar-collapse#navbar-collapse
  #navigations_region
  #login_form_region
