li.navbar-item
  a.navbar-link(data-nav='dashboard' href=routes.dashboardIndexPath()) Dashboard
li.navbar-item
  a.navbar-link(data-nav='articles' href=routes.articlesIndexPath(defaultPage)) Articles
