.comments-new-avatar
  .avatar(style='background-image: url(#{user.avatar(avatar)})')
.comments-new-container
  h4.media-heading #{name}, here you can write comment for the following article
  form(role='form')
    .form-group
      textarea.comments-new-text.form-control(name='text', placeholder='Your text here')
    input.comments-new-submit.btn.btn-primary.btn-lg(type='submit' value='Post comment')
