form#login_form.login-form.form-inline(role='form')
  .form-group
    label.sr-only(for='exampleInputEmail2') Email address
    input#user_email.form-control(type='email', placeholder='Enter email')
  .form-group
    label.sr-only(for='exampleInputPassword2') Password
    input#user_password.form-control(type='password', placeholder='Password')
  button.btn.btn-default(type='submit') Sign in
