#logout.logout-form.form-inline
  div.avatar(style="background-image: url(#{avatar})")
  span.user-name Hi #{name}
  //- didn't work without refreshing
  a(class='btn btn-default' href=routes.logoutPath()) Exit
