#logout.logout-form.form-inline
  div.avatar(style="background-image: url(#{user_avatar})")
  span.user-name Hi #{user_name}
  //- didn't work without refreshing
  //- a(class='btn btn-default js-link' href='/logout') Exit
  a(class='btn btn-default' href='/logout') Exit
