.row.col-md-8.col-md-offset-2
  form(autocomplete='off')
    .form-group.col-md-12
      h3.dark-grey Registration
    .form-group.col-md-12
      label Username
      input.form-control(type='text', name='username')
    .form-group.col-md-12
      label Email
      input.form-control(type='email', name='email')
    .form-group.col-md-6
      label Password
      input.form-control(type='password', name='password')
    .form-group.col-md-6
      label Repeat Password
      input.form-control(type='password', name='password_confirmation')
    .form-group.col-md-12
      button.btn.btn-primary(type='submit') Register
