.row.col-md-8.col-md-offset-2
  form
    .form-group.col-md-12
      h3.dark-grey Registration
    .form-group.col-md-12
      label Username
      input.form-control(type='', name='', id='', value='')
    .form-group.col-md-12
      label Email
      input.form-control(type='', name='', id='', value='')
    .form-group.col-md-6
      label Password
      input.form-control(type='password', name='', id='', value='')
    .form-group.col-md-6
      label Repeat Password
      input.form-control(type='password', name='', id='', value='')
    .form-group.col-md-12
      button.btn.btn-primary(type="submit") Register
