.avatar {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0px 1px 1px 0px $grey;
}

.btn-primary {
  border-color: color($primary-color saturation(50%));
  background-color: $primary-color;

  &:hover {
    border-color: color($primary-color saturation(50%));
    background-color: color($primary-color saturation(50%));
  }
}

.spinner {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  .bar {
    height: 3px;
    background-color: $primary-color;
  }
}
