form.login-form.form-inline(role='form')
  .form-group
    input.form-control(type='email', name='email', placeholder='Enter email')
  .form-group
    input.form-control(type='password', name='password', placeholder='Password')
  button.btn.btn-default(type='submit') Login
  span - or -
  a(href=routes.signupIndexPath()).btn.btn-default.sign-up Register
