.container
  overflow: auto
  padding-bottom: 70px

  .articles
    >.media
      margin: 0 0 30px 0
      padding: 0 0 20px 0
      border-bottom: 1px solid #e7e7e7
      text-align: justify
      font-size: 15px

      .comments
        padding: 20px 0

      .media
        font-size: 12px
        padding: 8px
        border: 1px dashed #e7e7e7
        border-radius: 4px

        .media-object
          background-size: cover
          border-radius: 4px
          width: 44px
          height: 44px

  .media-object
    background-size: cover
    border-radius: 4px
    width: 64px
    height: 64px
