.articles-new-avatar
  .avatar(style='background-image: url(#{user.avatar(avatar)})')
.articles-new-container
  h4.media-heading #{name}, here you can new new article
  form(role='form')
    .form-group
      input.articles-new-title.form-control(name='title', placeholder='Your title here')
    .form-group
      textarea.articles-new-text.form-control(name='text', placeholder='Your text here')
    input.articles-new-submit(type='submit' value='Post article' class='btn btn-primary btn-lg')
