doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bower_components/sass-bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    //- script(type='text/javascript' src='vendor/scripts/runtime.js')
    script(type='text/javascript', data-main='scripts/config', src='bower_components/requirejs/require.js')
  body
    #wrapper
    .footer
      | Fooler
