doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Backbone base
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | <!--(if target development)><link rel="stylesheet" href="/stylesheets/style.css"><![endif]-->
    | <!--(if target development)><script type='text/javascript' data-main='/scripts/main' src='/bower_components/requirejs/require.js'></script><![endif]-->

    | <!--(if target production)><link rel="stylesheet" href="/style.css"><![endif]-->
    | <!--(if target production)><script type="text/javascript" src="/application.js"></script><![endif]-->
  body
    #wrapper.wrapper
    .footer
      | Backbone base
