doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Backbone base
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/application.css")
    script(type="text/javascript" src="/application.js")
  body
    .spinner
    section#notifications_region.notifications-center
    section#wrapper.wrapper
      nav#navigation_region.navbar.navbar-default(role='navigation')
      main#main_region.container
    .footer
      p.text-center Backbone base
