doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Backbone base
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/style.css")
    script(type="text/javascript" src="/application.js")
  body
    #wrapper.wrapper
      nav(id='navigation_region' class='navigation navbar navbar-default' role='navigation')
      article#main_region.container
    .footer
      | Backbone base
