doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Backbone base
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://localhost:8000/stylesheets/style.css')
    script(type='text/javascript', data-main='http://localhost:8000/scripts/config', src='http://localhost:8000/bower_components/requirejs/require.js')
  body
    #wrapper.wrapper
    .footer
      | Footer
