@import "compass"

html,
body
  margin: 0
  padding: 0
  height: 100%

  .login-form,
  .logout-form
    +box-sizing(border-box)
    padding: 8px 15px
    overflow: auto

  .logout-form
    position: relative

    * 
      float: left
      display: block
      margin-left: 25px

    span
      line-height: 34px
      height: 100%
      margin-left: 10px

    .avatar
      width: 25px
      height: 25px
      border-radius: 3px
      background-size: cover
      position: relative
      top: 4px

  #wrapper
    min-height: 100%

    .container
      overflow: auto
      padding-bottom: 70px

  .footer
    position: relative
    margin-top: -70px
    height: 70px
    clear: both
    background-color: #f8f8f8
    border-top: 1px solid #e7e7e7
    +box-sizing(border-box)
    padding: 8px 15px
