.footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
  border-top: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding: 15px;
  line-height: 30px;

  p {
    color: #777;
  }
}
