.navigation {
  .navbar-brand {
    height: auto;
  }

  .login-form,
  .logout-form {
    overflow: auto;
    box-sizing: border-box;
    padding: 8px 15px;
  }

  .login-form {
    input {
      float: right;
      margin-right: 5px;
    }

    span {
      position: relative;
      top: 2px;
      padding: 6px 10px;
    }
  }

  .logout-form {
    position: relative;

    * {
      display: block;
      float: left;
      margin-left: 25px;
    }

    span {
      height: 100%;
      margin-left: 10px;
      line-height: 34px;
    }

    .avatar {
      position: relative;
      top: 4px;
      width: 25px;
      height: 25px;
      background-size: cover;
    }
  }
}
