a.article-avatar.pull-left(href='#')
  .media-object.avatar(style='background-image: url(#{user.avatar(avatar)})')
.article-body
  h4.article-title.media-heading
    | Author: #{name}
  p
    | #{text}
  .comments
