.avatar-container
  .avatar(style='background-image: url(#{user_avatar})')
.text-container
  h4.media-heading #{user_name}, here you can write new article
  form#save_article
    textarea
    input(type='submit', class='btn btn-primary btn-lg')
