.avatar-container
  .avatar(style='background-image: url(#{avatar})')
.text-container
  h4.media-heading #{name}, here you can write new article
  form#save_article
    textarea
    input(type='submit' value='Post article' class='btn btn-primary btn-lg')
