.avatar-container
  .avatar(style='background-image: url(#{avatar})')
.text-container
  h4.media-heading #{name}, here you can write new article
  form(role='form')
    .form-group
      input.form-control(name='title', placeholder='Your title here')
    .form-group
      textarea.form-control(name='text', placeholder='Your text here')
    input(type='submit' value='Post article' class='btn btn-primary btn-lg')
