<navigation id="header_region">Header</navigation>
<article id="main_region">Main</article>
<article id="footer_region">Fooler</article>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Backbone-base</a>
  </div>

  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="container">
  <div class="page-header">
    <h1>Example page header <small>Subtext for header</small></h1>
  </div>

  <div class="jumbotron">
    <h1>Backbone-base</h1>
    <br/>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>
